* {
  box-sizing: border-box;
}
* {
  color: #787878;
  font-family: "Open Sans",sans-serif;
}
* {
  outline: none;
}

.myslidecontainer {
  display: flex;
  background: #faf9f7;
  height: 650px;
  align-items: center;
  margin: 60px auto;
}
.s-contain {
  width: 100%;
  overflow: hidden;
  margin: 70px auto;
  padding-left: 120px;
  padding-right: 120px;
}
.s-control {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.s-control div {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

.s-control img {
    width: 30px;
}

.s-slidepanel {
  width: 100%;
  height: 560px;
  overflow: hidden;
  position: relative;
}

.s-element {
  width: 100%;
  height: 560px;
  overflow: auto;
  display: flex;
  float: left;
  justify-content: space-between;
  position: absolute;
  transition: .5s;
}

.textp {
  font-size: 51px;
  text-align: left;
  padding: 4px;
  color: #484848;
}
.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.w-50 {
  width: 50%;
  float: left;
}
.img-blockfix {
  width: 560px;
  height: 560px;
}

.slideimg {
  background-color: #fff;
  width: 560px;
  height: 560px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
